.north-island,
.south-island {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.south-island-title {
  margin-top: 100px;
}

.region {
  width: 200px;
  height: 200px;
  /* border: 0.4px solid lightgray; */
}

.region img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 8px;
}
