:root {
  --main-color-main1: #a2cde1;
  --main-color-main2: #2880a9;
  --main-color-main3: #14465e;
  --main-color-main3-transparent: #14475eba;
  --main-color-main4-transparent: rgb(65, 166, 213, 0.55);
  --main-color-input-focus: rgba(161, 188, 200, 0.327);

  --main-font1: 'Archivo Black', sans-serif;
  --main-font2: 'Lexend Deca', sans-serif;
  --main-font3: 'Chivo', sans-serif;
  --main-font4: 'Montserrat', sans-serif;
  --main-font5: 'Roboto', sans-serif;
  --light-border-style: 0.2px solid lightgray;
}

@font-face {
  font-family: 'Digitalclock';
  src: url('./fonts/digital-clock-2.ttf');
}

body {
  margin: 0;
  font-family: var(--main-font5);
}
/* .custom-shape-divider-top-1655722479 {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1655722479 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1655722479 .shape-fill {
  fill: var(--main-color-main1);
} */

.scroll-button {
  width: 25px;
  height: 25px;
  background-color: var(--main-color-main1);
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
}
.scroll-button > i {
  margin: auto;
}
/*---------------HEADER----------------*/

.outer-header {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.header-top-inner {
  background-color: var(--main-color-main1);
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  z-index: 120;
  text-align: center;
}

.header-top-left {
  flex: 1;
}

.header-top-mid {
  flex: 1;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
}

.logo-img {
  display: block;
  margin: auto;
  width: 100px;
}

.header-top-right {
  flex: 1;
  margin: auto;
}

#dropdown-basic {
  border: none;
  background-color: var(--main-color-main4-transparent);
  z-index: 100;
}
#dropdown-menu {
  background-color: rgba(255, 254, 254, 0.67);
}

.header-bottom {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  height: 280px;
  background: rgb(162, 205, 225);
  background: linear-gradient(
    180deg,
    rgba(162, 205, 225, 1) 0%,
    rgba(249, 249, 249, 0) 100%
  );
  /* margin-top: 120px; */
  position: fixed;
  top: 120px;
  z-index: 100;
}
.header-bottom-mid {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.no-underline {
  text-decoration: none;
}

.clock {
  position: fixed;
  z-index: 200;
  border-radius: 10px;
  border: 1.5px solid var(--main-color-main3-transparent);
  color: var(--main-color-main3-transparent);
  font-family: Digitalclock;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 250px;
  height: 120px; */
  padding: 10px;
  margin-top: 60px;
  margin-left: 40px;
  text-align: center;
}

.clock-day,
.clock-date {
  font-size: 1.2rem;
  font-weight: bold;
  /* color: rgb(255, 255, 255); */
}

.clock-time {
  font-size: 2.5rem;
  font-weight: bold;
  /* color: rgba(255, 255, 255, 0.99); */
}

.medium-weather {
  display: none;
}
.share-event-button-div button {
  background-color: var(--main-color-main3-transparent);
  border: none;
  border-radius: 10px;
  color: white;
  width: 45px;
  height: 35px;
}

.header-bottom-current-region-name {
  font-size: 4.5rem;
  color: white;
  text-align: center;
  /* margin-top: 20px; */
}

.header-bottom-current-region-name#long {
  font-size: 3.5rem;
  color: white;
  line-height: 1;
  /* margin-top: 20px; */
}
.header-bottom-districts-and-button {
  display: flex;
  margin-bottom: 140px;
  gap: 20px;
}

.DISTRICTS_DROPDOWN {
  /* border: 3px solid var(--main-color-main3); */
  border-radius: 0.375rem;
}

.DISTRICTS_DROPDOWN > button {
  width: 250px;
  color: var(--main-color-main3);
}

.dropdown-menu {
  width: 250px;
}

#dropdown-basic.districts-dropdown-toggle {
  background-color: white;
  border: 0.2px solid var(--main-color-main4-transparent);
  color: var(--main-color-main3);
}

.below-header {
  margin-top: 380px;
  z-index: 0;
}

/* pad friendly */
@media screen and (max-width: 1200px) {
  .clock-day,
  .cloc-date,
  .clock-time {
    display: none;
  }
  .clock {
    border: none;
    position: fixed;
    z-index: 200;
    margin-top: 0;
    margin-left: 0;
  }

  .large-and-small-weather {
    display: none;
  }
  .medium-weather {
    display: block;
    border: none;
    position: fixed;
    z-index: 200;
    margin-top: 30px;
    margin-left: 30px;
  }

  .below-header {
    margin-top: 400px;
  }
  div#wx-widget.wx-.wx-days-1.wx-small.wx-modern.wx-portrait.wx-white {
    background: var(--main-color-main1) !important;
  }
}

/* mobile friendly */
@media screen and (max-width: 768px) {
  .header-top-inner {
    height: 80px;
  }
  .header-top-left {
    flex: 0;
  }
  .header-top-mid {
    justify-content: flex-start;
  }

  .header-top-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
  }
  .header-top-right #dropdown-basic,
  .header-top-right #dropdown-menu {
    max-width: 100px;
    font-size: 0.8em;
  }
  .header-bottom-districts-and-button #dropdown-basic,
  .header-bottom-districts-and-button #dropdown-menu {
    max-width: 160px;
    font-size: 1em;
  }

  .dropdown-item {
    padding-left: 8px;
    padding-right: 8px;
  }

  .logo-img {
    width: 60px;
    margin-left: 30px;
  }
  .header-bottom {
    position: relative;
    top: 80px;
    height: 120px;
  }
  .header-bottom-current-region-name {
    font-size: 2.5rem;
  }

  .header-bottom-current-region-name#long {
    font-size: 1.75rem;
  }
  .medium-weather {
    display: none;
  }
  .large-and-small-weather {
    display: block;
    position: relative;
    z-index: 0;
  }
  .clock {
    position: relative;
    z-index: 0;
    top: 80px;
    background-color: var(--main-color-main1);
    border-radius: 0;
  }
  .header-bottom-districts-and-button {
    height: 30px;
  }
  div#wx-widget.wx-.wx-days-1.wx-small.wx-modern.wx-portrait.wx-white {
    background: var(--main-color-main1) !important;
  }
}
/*---------------LOCATIONS------------------*/

.locations {
  margin-left: 30px;
  margin-bottom: 100px;
  margin-top: 200px;
  top: 120px;
}

.locations > h2 {
  color: var(--main-color-main2);
  font-family: var(--main-font4);
  font-size: 3rem;
}
.north-island,
.south-island {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  font-family: var(--main-font4);
  font-weight: 500;
}

.south-island-title {
  margin-top: 100px;
}

/*---------------REGIONS------------------*/
.region {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: relative;
  width: 200px;
  height: 200px;
  /* border: 0.4px solid lightgray; */
}

.region img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 8px;
}

.region-title {
  background: var(--main-color-main4-transparent);
  position: absolute;
  z-index: 1;
  margin: auto;
  font-size: 1.4rem;
  padding: auto;
  max-width: 163.1px;
  color: white;
  text-align: center;
}

/*---------------POSTS------------------*/

.ghost-div {
  position: fixed;
  top: 0;
  width: 100%;
  height: 340px;
  z-index: 90;
  background-color: white;
}

.POST_MAINS {
  font-size: 0.8rem;
  margin-bottom: 300px;
}

.display-posts > div {
  margin-top: 40px;
  margin-bottom: 40px;
}

.each-post {
  border: 0.2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 520px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.post-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.post-img-div {
  display: flex;
  width: 76.5%;
  height: 400px;
  text-align: center;
}
.post-images img {
  width: 100%;
  max-height: 100%;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.post-images button {
  border: none;
  border-radius: 5px;
  background-color: var(--main-color-main4-transparent);
  color: white;
  width: 40px;
  height: 40px;
}

.post-images button:hover {
  background-color: var(--main-color-main1);
}

.reliab-div {
  display: flex;
  justify-content: flex-end;
  width: 76.5%;
  height: 60px;
  border: var(--light-border-style);
}
.reliab-div > .fa-button {
  display: flex;
  width: 50px;
  height: 50px;
  margin-left: 0;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  font-size: 1.6rem;
}

.fa-button > i {
  display: block;
  margin: auto;
}

#reliab-black {
  color: black;
}

#reliab-white {
  color: white;
}

.post-details {
  display: flex;
  flex-direction: column;
  width: 76.5%;
  height: 200px;
  border: var(--light-border-style);
}

.post-details > div {
  flex: 1.2;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
}

.post-details > div:first-child {
  margin-left: 15px;
  margin-top: 10px;
}

.post-details > div:last-child {
  flex: 4;
  font-weight: normal;
}

.post-time {
  color: gray;
}

.del-edit-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.del-edit-buttons > button {
  display: block;
  background-color: rgba(193, 189, 189, 0.687);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 30px;
}

/* pad friendly */
@media screen and (max-width: 1200px) {
  /* .ghost-div {
    height: 0;
  } */
}

/* mobile friendly */
@media screen and (max-width: 768px) {
  .ghost-div {
    height: 0px;
  }
  .each-post {
    width: 320px;
    border: var(--light-border-style);
  }

  .post-images {
    width: 100%;
    height: 220px;
    position: relative;
  }
  .post-images button {
    position: absolute;
    z-index: 10;
    width: 20px;
  }
  .post-images button:first-child {
    left: 20px;
  }
  .post-images button:last-child {
    right: 20px;
  }
  .post-img-div {
    width: 90%;
    height: 100%;
  }
  .post-img-div > img {
    width: 100%;
    max-height: 100%;
  }

  .reliab-div {
    width: 90%;
  }

  .post-details {
    width: 90%;
    max-height: 300px;
  }

  .post-details > div {
    margin-left: 15px;
    margin-right: 15px;
  }

  .post-details > div:first-child {
    margin-left: 15px;
    margin-top: 10px;
  }

  .post-details > div:last-child {
    flex: 4;
    font-weight: normal;
  }

  .post-time {
    color: gray;
  }
}

/*---------------ADD POST------------------*/

.add-form-main {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  justify-content: space-between;
}

.add-form-main > div {
  text-align: center;
}

.add-photo-div {
  width: 300px;
  height: 300px;
}
.add-photos-button {
  background-color: var(--main-color-main1);
  border: none;
  color: white;
  font-size: 18px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.preview-overall {
  position: relative;
}

.show-image-number {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -30px;
  color: var(--main-color-main3-transparent);
}

.preview-div {
  position: relative;
  border: none;
}
.preview-div > div {
  width: 100%;
  height: 300px;
}
.preview-div > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: none;
}

.preview-div > button {
  position: absolute;
  /* top: 300px; */
  width: 40px;
  height: 40px;
  background-color: rgba(206, 216, 241, 0.515);
  color: white;
  border: none;
  border-radius: 5px;
}
.preview-div > button:first-child {
  left: 5px;
  top: 130px;
}

.preview-div > button:last-child {
  right: 5px;
  top: 130px;
}

.reset-photos-div {
  position: absolute;
  top: 320px;
  left: 100px;
}
.reset-photos-button {
  width: 100px;
  height: 40px;
  background-color: var(--main-color-main1);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 12px;
}
.other-form-and-submit {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.other-form-main {
  width: 100%;
  border: 0.25px solid var(--main-color-main3);
  margin-left: auto;
  margin-right: auto;
}

.add-post-districts-div {
  width: 100%;
}

.add-post-districts-select,
.add-post-district-option,
.other-form-main input,
.other-form-main textarea {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: none;
  border-bottom: var(--light-border-style);
  resize: none;
  margin-left: auto;
  margin-right: auto;
}
.description-div {
  height: 100px;
  width: 100%;
}
.description-input {
  width: 100%;
  height: 100% !important;
  text-overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  height: 80px;
}

select:focus,
input:focus,
textarea:focus {
  border: 0;
  background-color: var(--main-color-input-focus);
  padding: none;
  outline: none;
}
.password-and-button {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 40px;
  justify-content: space-between;
}

.password-and-button > input {
  width: 250px;
}

.password-and-button > form {
  display: block;
  width: 100px;
  height: 100%;
}
.password-and-button button {
  width: 100px;
  height: 100%;
  background-color: var(--main-color-main3-transparent);
  border: none;
  border-radius: 10px;
  color: white;
}

@media screen and (max-width: 768px) {
  .add-form-main {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 800px;
    justify-content: center;
    gap: 20px;
  }
  .preview-overall {
    position: relative;
  }

  .show-image-number {
    top: 0px;
  }

  .preview-div {
    position: relative;
    border: none;
  }
  .preview-div > div {
    width: 100%;
    height: 300px;
  }
  .preview-div > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: none;
  }

  .preview-div > button {
    position: absolute;
    /* top: 300px; */
    width: 40px;
    height: 40px;
    background-color: rgba(206, 216, 241, 0.515);
    color: white;
    border: none;
    border-radius: 5px;
  }
  .preview-div > button:first-child {
    left: 5px;
    top: 130px;
  }

  .preview-div > button:last-child {
    right: 5px;
    top: 130px;
  }

  .reset-photos-div {
    position: absolute;
    top: 320px;
    left: 100px;
  }
  .reset-photos-button {
    width: 100px;
    height: 40px;
    background-color: var(--main-color-main1);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
  }
  .other-form-and-submit {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .other-form-main {
    width: 100%;
    border: 0.25px solid var(--main-color-main3);
    margin-left: auto;
    margin-right: auto;
  }

  .add-post-districts-div {
    width: 100%;
  }

  .add-post-districts-select,
  .add-post-district-option,
  .other-form-main input,
  .other-form-main textarea {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border: none;
    border-bottom: var(--light-border-style);
    resize: none;
    margin-left: auto;
    margin-right: auto;
  }
  .description-div {
    height: 100px;
    width: 100%;
  }
  .description-input {
    width: 100%;
    height: 100% !important;
    text-overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
  }

  select:focus,
  input:focus,
  textarea:focus {
    border: 0;
    background-color: var(--main-color-input-focus);
    padding: none;
    outline: none;
  }
  .password-and-button {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 40px;
    justify-content: space-between;
  }

  .password-and-button > input {
    width: 250px;
  }

  .password-and-button > form {
    display: block;
    width: 100px;
    height: 100%;
  }
  .password-and-button button {
    width: 100px;
    height: 100%;
    background-color: var(--main-color-main3-transparent);
    border: none;
    border-radius: 10px;
    color: white;
  }
}
/*---------------EDITPOST------------------*/

.post-event.edit,
.post-location.edit,
.post-description.edit {
  border-bottom: var(--light-border-style);
  margin-right: 20px;
  margin-bottom: 20px;
}

.post-description.edit {
  border-bottom: none;
}

.post-event.edit {
  margin-top: 20px;
}
.edit input,
.edit textarea {
  width: 100%;
  height: 100%;
  border: none;
  color: grey;
  resize: none;
}
.edit input:focus,
.edit textarea:focus {
  width: 100%;
  height: 100%;
}

.reliab-div.edit {
  height: 30px;
}

.update-button {
  display: flex;
  margin-top: 20px;
}

.update-button > button {
  display: block;
  width: 100px;
  height: 30px;
  background-color: var(--main-color-main3-transparent);
  border: none;
  border-radius: 5px;
  color: white;
}
